# Local
.DS_Store
*.local
*.log*

# Dist
node_modules
dist/

# IDE
.vscode/*
!.vscode/extensions.json
.idea



.nx/cache
.nx/workspace-data
**/vite.config.{js,ts,mjs,mts,cjs,cts}.timestamp*

.env
vite.config.*.timestamp*